{% extends 'BackendBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<!-- CKEDITOR -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/js/ckeditor/_samples/sample.css') }}" />
{% endblock %}

{% block content %}
<!-- PAGE HEADER-->
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <!-- STYLER -->

            <!-- /STYLER -->
            <!-- BREADCRUMBS -->
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="index.html">Home</a>
                </li>
                <li>Dashboard</li>
            </ul>
            <!-- /BREADCRUMBS -->
            <div class="clearfix">
                <h3 class="content-title pull-left">Dashboard</h3>
                <!-- DATE RANGE PICKER -->
                <span class="date-range pull-right">
                    <div class="btn-group">
                        <a class="js_update btn btn-default" href="index.html#">Today</a>
                        <a class="js_update btn btn-default" href="index.html#">Last 7 Days</a>
                        <a class="js_update btn btn-default hidden-xs" href="index.html#">Last month</a>

                        <a id="reportrange" class="btn reportrange">
                            <i class="fa fa-calendar"></i>
                            <span></span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </span>
                <!-- /DATE RANGE PICKER -->
            </div>
            <div class="description">Overview, Statistics and more</div>
        </div>
    </div>
</div>
<!-- /PAGE HEADER -->
<div class="row">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="box border green">
            <div class="box-title">
                <h4><i class="fa fa-table"></i>Registrar articulo</h4>
            </div>
            <div class="box-body">                
                <form action="{{ path('article_create') }}" method="POST">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                {{ form_errors(form.title) }}
                                <label for="">Título</label>
                                {{ form_widget(form.title) }}
                            </div>                 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_errors(form.publicationDate) }}
                                <label for="">Fecha de publicación</label>
                                {{ form_widget(form.publicationDate) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.tags) }}
                                <label for="">Etiquetas</label>
                                {{ form_widget(form.tags) }}
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_errors(form.content) }}
                                <label for="">Contenido</label>
                                {{ form_widget(form.content) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{path('article')}}" class="btn btn-primary pull-right">Cerrar</a>   
                            <button type="submit" class="btn btn-primary pull-right">Agregar</button>
                            {{ form_widget(form._token) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer-tools">
    <span class="go-top">
        <i class="fa fa-chevron-up"></i> Top
    </span>
</div>
{% endblock %}
{% block javascripts_owner %}
<script src="{{ asset('bundles/backend/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/backend/js/ckfinder/ckfinder.js') }}"></script>
<script src="{{ asset('bundles/backend/js/ckeditor/_samples/sample.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var editor = CKEDITOR.replace('dboj_newsbundle_article_content');
        CKFinder.setupCKEditor(editor, 'ckfinder/');
    });
</script>
{% endblock %}