{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'CommonBundle:Extras:page_header.html.twig'%}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bitbucket"></i>Artículos relevantes</h4>            
            </div>
            <div class="box-body">
                {% for item in entity %}
                {% if item.publish %}
                <div class="well">
                    <h4><a href="{{path('show_article', {'id': item.id}) }}">{{item.title}}</a></h4
                    <p>{{item.content|slice(0, 750)|raw}}</p>
                    <hr>
                    <div class="info-article">
                        <span><i class="fa fa-user"></i>{{item.user.name}} {{item.user.lastname}} ({{item.user.user}}) </span>
                        <span><i class="fa fa-calendar"></i>{{item.publicationdate|date('Y-m-d') }}</span>
                    </div>                
                </div>
                {% endif %}
                {% endfor %}                
                <ul class="pagination pagination-sm pagination-right">
                    <li><a href="elements.html#">«</a></li>
                    <li><a href="elements.html#">1</a></li>
                    <li><a href="elements.html#">2</a></li>
                    <li><a href="elements.html#">3</a></li>
                    <li><a href="elements.html#">4</a></li>
                    <li><a href="elements.html#">5</a></li>
                    <li class="active"><a href="elements.html#">»</a></li>
                </ul>
            </div>
        </div>
    </div>    
</div>
<div class="col-md-3">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bell"></i>Avisos</h4>
                <div class="tools">
                    <span class="badge badge-red">Warning</span>
                </div>
            </div>
            <div class="box-body">
                <div class="alert alert-info">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis cons</div> 
                <div class="alert alert-info">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis cons</div> 
                <div class="alert alert-info">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis cons</div> 
                <div class="alert alert-info">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis cons</div> 
            </div>
        </div>
    </div>
{% endblock %}
