{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'CommonBundle:Extras:page_header.html.twig'%}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bitbucket"></i>Artículos relevantes</h4>            
            </div>
            <div class="box-body">
                {% for entity in entities %}
                <div class="well">
                    <h4><a href="{{path('show_article', {'slug': entity.slug}) }}">{{entity.title}}</a></h4
                    <p>{{entity.content|slice(0, 750)|raw}}</p>
                    <hr>
                    <div class="info-article">
                        <span><i class="fa fa-user"></i>{{entity.user.name}} {{entity.user.lastname}} ({{entity.user.user}}) </span>
                        <span><i class="fa fa-calendar"></i>{{entity.publicationdate|date('Y-m-d') }}</span>
                    </div>                
                </div>
                {% else %}
                <div class="alert alert-info">
                    No se han publicado artículos
                </div>
                {% endfor %}
                {% if entities %}
                    {% include 'FrontendBundle:Default:paginator.html.twig' with {'paginator': paginator, 'path': 'frontendBundle_home'} %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bell"></i>Avisos</h4>
                <div class="tools">
                    <span class="badge badge-red">Warning</span>
                </div>
            </div>
            <div class="box-body">
                <div class="alert alert-info">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis cons</div> 
                <div class="alert alert-info">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis cons</div> 
                <div class="alert alert-info">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis cons</div> 
                <div class="alert alert-info">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis cons</div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
