<ul>
  <li class="active">
      <a href="javascript:;">
          <i class="fa fa-clock-o"></i> <span class="menu-text">24 horas</span>
      </a>
      <ul class="sub">
        <li><a class="" href="{{path('frontendBundle_home')}}"><span class="sub-menu-text">Ejercicios</span></a></li>
        <li><a class="" href="{{path('comment')}}"><span class="sub-menu-text">Sentencias</span></a></li>
        <li><a class="" href="{{path('comment')}}"><span class="sub-menu-text">Ranking</span></a></li>
      </ul>
  </li>
  <li class="active">
      <a href="javascript:;">
          <i class="fa fa-edit fa-trophy"></i> <span class="menu-text">Competencias reales</span>
      </a>
      <ul class="sub">
        <li><a class="" href="{{path('article')}}"><span class="sub-menu-text">Competencias activas</span></a></li>
        <li><a class="" href="{{path('comment')}}"><span class="sub-menu-text">Ranking</span></a></li>
      </ul>
  </li>
</ul>
