<ul>
  <li class="active">
    <a href="{{ path('dashboard') }}">
    <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">Dashboard</span>
    <span class="selected"></span>
    </a>					
  </li>
  <li class="has-sub">
    <a href="javascript:;">
        <i class="fa fa-lock fa-fw"></i> <span class="menu-text">Seguridad</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub">
      <li><a class="" href="{{ path('user') }}"><span class="sub-menu-text">Usuarios</span></a></li>
      <li><a class="" href="{{ path('rol_all') }}"><span class="sub-menu-text">Roles</span></a></li>
    </ul>
  </li>
  <li class="has-sub">
    <a href="javascript:;">
        <i class="fa fa-cog fa-fw"></i> <span class="menu-text">Configuración</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub">
      <li><a class="" href="{{ path('nomenclator') }}"><span class="sub-menu-text">Nomencladores</span></a></li>
    </ul>
  </li>
  <li class="has-sub">
      <a href="javascript:;">
          <i class="fa fa-trophy fa-fw"></i> <span class="menu-text">Concurso</span>
          <span class="arrow"></span>
      </a>
      <ul class="sub">
        <li><a class="" href="{{path('team')}}"><span class="sub-menu-text">Equipo</span></a></li>
        <li><a class="" href="{{path('competition')}}"><span class="sub-menu-text">Competencia</span></a></li>
      </ul>
  </li>
  <li class="has-sub">
      <a href="javascript:;">
          <i class="fa fa-question-circle fa-fw"></i> <span class="menu-text">Problema</span>
          <span class="arrow"></span>
      </a>
      <ul class="sub">          
        <li><a class="" href="{{path('problem')}}"><span class="sub-menu-text">Ejercicio</span></a></li>
        <li><a class="" href="{{path('sending')}}"><span class="sub-menu-text">Envío</span></a></li>
      </ul>  
  </li>
  <li class="has-sub">
      <a href="javascript:;">
          <i class="fa fa-edit fa-fw"></i> <span class="menu-text">Entradas</span>
          <span class="arrow"></span>
      </a>
      <ul class="sub">
        <li><a class="" href="{{path('article')}}"><span class="sub-menu-text">Artículos</span></a></li>
        <li><a class="" href="{{path('comment')}}"><span class="sub-menu-text">Comentarios</span></a></li>
      </ul>
  </li> 
</ul>
