{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'CommonBundle:Extras:page_header.html.twig'%}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bitbucket"></i>{{entity.title}}</h4>          
            </div>
            <div class="box-body">
                <div class="well">
                    <p>{{entity.content|raw}}</p>
                </div>                 
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                                <form action="{{ path('comment_create', {'id': entity.id}) }}" method="POST" class="form-horizontal ">
                                    <div class="form-group">
                                         {{ form_errors(form.content) }}
                                         <label class="col-md-2 control-label">Textarea:</label>
                                         <div class="col-md-10">
                                         {{ form_widget(form.content) }}
                                         </div>                                         
                                    </div>
                                    <button class="btn btn-info pull-right" type="submit">Commentar</button>
                                    {{form_widget(form._token)}}
                                    <div class="clearfix"></div>
                                </form>
                                {% else %}
                                <div class="col-md-12">
                                    <span class="alert alert-danger" style="display: block; margin-top: 10px;">Debe estar autenticado para poder comentar</span>
                                </div>

                                {% endif %}
                                <hr>
                                <div class="row">
                                    {% for comment in entity.comments%}
                                        {% if comment.publish %}
                                        <div class="col-md-12">                                       
                                            <div class="well">
                                                <p>{{ comment.content }}</p> 
                                                <div class="info-article">
                                                    <span><i class="fa fa-user"></i>{{ comment.user.user }}</span>
                                                    <span><i class="fa fa-calendar"></i>{{ comment.date|date('Y-m-d') }}</span>
                                                </div>
                                            </div> 
                                        </div>
                                        {% endif %}
                                    {% endfor %}                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-bell"></i>Metadatos</h4>
                <div class="tools">
                    <span class="badge badge-red">Warning</span>
                </div>
            </div>
            <div class="box-body">
                <div class="info-article inside">
                    <span><i class="fa fa-user"></i>Usuario: {{entity.user.name}} {{entity.user.lastname}}</span>
                    <span><i class="fa fa-calendar"></i>Fecha de publicación: {{entity.publicationdate|date('Y-m-d')}}</span>
                    <span><i class="fa fa-tag"></i>Etiquetas: {{entity.tags}}</span>
                </div>                  
            </div>
        </div>
    </div>
</div>
{% endblock %}
