<ul class="actions">
    {% if extras is defined %}
        {% for extra in extras %}
            <li><a href="{{ path(extra.path, extra.parameters) }}" title="{{ extra.title }}" {% if extra.onclick is defined %}onclick="{{ extra.onclick }}"{% endif %}><i class="{{ extra.icon }}"></i></a></li>
        {% endfor %}
    {% endif %}    
    {% if path_edit is defined %}
        <li><a href="{{ path(path_edit, { 'id': entity.id }) }}" title="{{ title_edit }}"><i class="fa fa-edit"></i></a></li>
    {% endif %}
    {% if path_delete is defined %}
        <li class="last"><a href="{{ path(path_delete, { 'id': entity.id }) }}" title="{{ title_delete }}" onclick="return confirm('{{ msg_confirm }}')"><i class="fa fa-trash-o"></i></a></li>
    {% endif %}
</ul>
