{% extends 'BackendBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<!-- DATA TABLES -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/js/multiselect/css/multi-select.css') }}" />
{% endblock %}

{% block content %}
<!-- PAGE HEADER-->
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <!-- STYLER -->

            <!-- /STYLER -->
            <!-- BREADCRUMBS -->
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="index.html">Home</a>
                </li>
                <li>Dashboard</li>
            </ul>
            <!-- /BREADCRUMBS -->
            <div class="clearfix">
                <h3 class="content-title pull-left">Dashboard</h3>
                <!-- DATE RANGE PICKER -->
                <span class="date-range pull-right">
                    <div class="btn-group">
                        <a class="js_update btn btn-default" href="index.html#">Today</a>
                        <a class="js_update btn btn-default" href="index.html#">Last 7 Days</a>
                        <a class="js_update btn btn-default hidden-xs" href="index.html#">Last month</a>

                        <a id="reportrange" class="btn reportrange">
                            <i class="fa fa-calendar"></i>
                            <span></span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </span>
                <!-- /DATE RANGE PICKER -->
            </div>
            <div class="description">Overview, Statistics and more</div>
        </div>
    </div>
</div>
<!-- /PAGE HEADER -->
<div class="row">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="box border green">
            <div class="box-title">
                <h4><i class="fa fa-table"></i>Registrar equipo</h4>
            </div>
            <div class="box-body">
                <form action="{{ path('team_create') }}" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_errors(form.name) }}
                                <label for="">Nombre</label>
                                {{ form_widget(form.name) }}
                            </div>                                                     
                        </div>
                        <div class="col-md-8">
                            <select id='dboj-users' name="dboj-users-team[]" multiple='multiple'>
                                {% for user in users %}
                                <option value='{{user.id}}'>{{user.user}} ({{user.email}})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{path('team')}}" class="btn btn-primary pull-right">Cerrar</a> 
                            <button type="submit" class="btn btn-primary pull-right">Agregar</button>
                            {{ form_widget(form._token) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer-tools">
    <span class="go-top">
        <i class="fa fa-chevron-up"></i> Top
    </span>
</div>
{% endblock %}

{% block javascripts_owner %}
<script type="text/javascript" src="{{ asset('bundles/backend/js/multiselect/js/jquery.multi-select.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/backend/js/multiselect/js/quicksearch.js') }}"></script>
<script type="text/javascript">
    $('#dboj-users').multiSelect({
        selectableHeader: "<label>Todos los usuarios</label><input type='text' class='search-input' autocomplete='off' placeholder='Filtrar usuario'>",
        selectionHeader: "<label>Usuarios seleccionados</label><input type='text' class='search-input' autocomplete='off' placeholder='Filtrar usuario'>",
        afterInit: function(ms) {
            var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function(e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function(e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
        },
        afterSelect: function() {
            this.qs1.cache();
            this.qs2.cache();
        },
        afterDeselect: function() {
            this.qs1.cache();
            this.qs2.cache();
        }
    });
</script>
{% endblock %}